<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
</head>
<body>
    <h1>Modificar Usuario</h1>
    <!-- Aquí puedes agregar un formulario para modificar usuarios -->
    <form action="/actualizar_usuario" method="POST">
        <!-- Campos del formulario -->
        <!-- Por ejemplo: -->
        <label for="modificar_nombre">Nombre:</label>
        <input type="text" id="modificar_nombre" name="modificar_nombre" required><br><br>

        <label for="nuevo_nombre">Nuevo Nombre:</label>
        <input type="text" id="nuevo_nombre" name="nuevo_nombre" required><br><br>

        <button type="submit">Modificar</button>
    </form>
</body>
</html>