<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
</head>
<body>
    <h1>Buscar Usuario</h1>
    <!-- Aquí puedes agregar un formulario para buscar usuarios -->
    <form action="/buscar_usuario" method="POST">
        <!-- Campos del formulario -->
        <!-- Por ejemplo: -->
        <label for="buscar_nombre">Buscar por Nombre:</label>
        <input type="text" id="buscar_nombre" name="buscar_nombre" required><br><br>

        <button type="submit">Buscar</button>
    </form>
</body>
</html>