<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
</head>
<body>
    <h1>Eliminar Usuario</h1>
    <!-- Aquí puedes agregar un formulario para eliminar usuarios -->
    <form action="/eliminar_usuario" method="POST">
        <!-- Campos del formulario -->
        <!-- Por ejemplo: -->
        <label for="eliminar_nombre">Nombre:</label>
        <input type="text" id="eliminar_nombre" name="eliminar_nombre" required><br><br>

        <label for="eliminar_apellido">Apellido:</label>
        <input type="text" id="eliminar_apellido" name="eliminar_apellido" required><br><br>

        <button type="submit">Eliminar</button>
    </form>
</body>
</html>