<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO PÁGINA</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .button {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            background-color: #007BFF;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>BIENVENIDO A LA PÁGINA QUE CALCULA SU NOMINA</h1>
        <a class="button" href="/crear-usuario"><b>Crear Nuevo Usuario</b></a>
        <a class="button" href="/buscar-usuario"><b>Buscar Usuario</b></a>
        <a class="button" href="/actualizar-informacion"><b>Actualizar Información</b></a>
        <a class="button" href="/eliminar-usuario"><b>Eliminar Usuario</b></a>
    </div>
</body>
</html>